@import '../../app.component.css';


main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.inicio-com-pesquisa {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

.pesquisa {
  width: 100%;
  height: 49%;
}

mat-form-field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  height: 20%;
}

.titulo {
  font-family: 'Varela Round', 'Roboto', sans-serif;
  font-size: 5em;
}

.titulo-com-pesquisa {
  font-family: 'Varela Round', 'Roboto', sans-serif;
  font-size: 5em;
  padding: 5%;
}

input {
  width: 100%;
  text-align: center;
  line-height: 25px;
  border-radius: 10px;
}

input:focus, a:focus {
  outline-style: none;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

a {
  width: 10%;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  font-size: 1em;
  background-color: slategrey;
  cursor: pointer;
}

.botoes {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.botao-buscar {
  margin-right: 5%;
}
