<main>
  <section [ngClass]="{'inicio' : !this.repositorios, 'inicio-com-pesquisa' : this.repositorios}">
    <mat-label [ngClass]="{'titulo' : !this.repositorios, 'titulo-com-pesquisa' : this.repositorios}">
      Buscar Github
    </mat-label>

    <mat-form-field>
      <input matInput type="text" [(ngModel)]="value" placeholder="Digite o nome do usuário aqui">
    </mat-form-field>

    <div class="botoes">
      <a class="botao-buscar" (click)="buscarGit(); buscarRepositorios()">
        PESQUISAR
      </a>
      <a (click)="limparBusca()">
        LIMPAR
      </a>
    </div>
  </section>

  <section class="pesquisa" *ngIf="this.usuario">
    <app-buscar
      [dadosRepositorio]="this.repositorios"
      [dadosUsuario]="this.usuario"
    ></app-buscar>
  </section>
</main>
